html, body {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    box-sizing: border-box;
  }


/* HEADER */

.menu {
    background-color: #EEEAE3;
    height: 110px;
    width: 100%;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

  .wrapper_left {
    display: flex;
    align-items: center;
  }


  .container {
    display: inline-block;
    cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2px;
    }

    .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    }

    .dropdown {
    position: relative;
    display: inline-block;
}

    .dropbtn {
      border: none;
      background-color: transparent;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #EEEAE3;
      min-width: 310px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      padding: 21px 21px;
    }

  .menu_title {
    color: #172A24;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: #ddd;}

  .show {
    display: block;
  }

  .submenu {
    color: #172A24;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    word-wrap: break-word;
    padding-left: 36px;

  }

  .logo {
    padding-right: 140px;
  }

.inst {
    padding-left: 53px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tag {
    font-family: Comfortaa;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 13;

letter-spacing: 0.12em;
text-transform: uppercase;

padding-left: 10px;

color: #172A24;
}



.translate {
  font-family: 'Cinzel', serif;
  font-size: 12px;
  color: #172A24;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.active {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
	font-size: 15px;
  color: #FFFFFF;
  -webkit-text-stroke: 0.6px #172A24;

  letter-spacing: 0.2em;
  border-bottom: 2px double #172A24;

}

.body {
    background-color: #EEEAE3;
}

hr {
    border: none;
    background-color: #7B0F1C;
    color: #7B0F1C;
    height: 4px;
   }

.gallery__menu {
    text-align: center;
    padding-bottom: 45px;
}

.portfolio__wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.portfolio {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;

    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: #172A24;

    padding-bottom: 15px;
    padding-top: 60px;
}

.edit, .comm {
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.12em;
    text-transform: uppercase;

    color: #172A24;

    opacity: 0.6;

    cursor: pointer;
}

.chosen {
  color: #172A24;
  border-bottom: 2px solid #172A24;
  opacity: 1;
}


.gallery__main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#commercialBlock {
  display: none;
}

.gallery__left, .gallery__right {
    flex-basis: 50%;
}

.image {
    padding-right: 20px;
}

.click {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.2);
}

.december2020, .january2021, .september2019, .february2020,
.december2020Two, .september2020, .colourblock, .december2019,
.january2020, .october2020, .testshoot, .october2019 {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.december2020:hover, .january2021:hover, .september2019:hover, .february2020:hover,
.december2020Two:hover, .september2020:hover, .colourblock:hover, .december2019:hover,
.january2020:hover, .october2020:hover, .testshoot:hover, .october2019:hover {
  transform: scale(1.2);
}


.green__back {
  background-color: #355148;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 636px;
}

.green__back-long {
  background-color: #355148;
  text-align: center;
  padding-top: 20px;
  width: 595px;
  padding-bottom: 20px;
}

.img__style {
  padding-bottom: 20px;
}

.img__block_style {
  margin-bottom: 20px;
}

/* FOOTER */

.footer {
  background: #355148;
  height: 70px;
}

.footer__author {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #EEEAE3;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 19px;
}

/* MODALS */

.modal__gallery {
  background: rgba(23, 42, 36, 0.84);
  padding: 50px 50px;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  animation: fadein 0.4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}


.modal__gallery_btn {
  display: inline-flex;
  justify-content: flex-end;
  max-width: 1600px;
  width: 100%;
  margin-bottom: 50px;
}

.modal__gallery_btn_table, .btn_change_view_december_2020, .btn_change_view_september_2019,
.btn_change_view_february_2020, .btn_change_view_december_2020_two, .btn_change_view_colour_block,
.btn_change_view_december_2020,  .btn_change_view_january_2020, .btn_change_view_january_2021,
.btn_change_view_october_2020, .btn_change_view_test_shoot {
  padding-right: 20px;
}

.modal__gallery_wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;

}

.modal__info {
  padding-right: 30px;
  flex-basis: 19%;
}

.modal__gallery_title {
  font-family: Cinzel;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 50px;
}

.modal__gallery_photographer {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-bottom: 50px;
}

.modal__gallery_location {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 50px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.modal__gallery_clothes {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}


.modal__grid {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c d"
        "e e g h"
        "i j f l"
        "m n o p"
        "q r k k";
  grid-gap: 28px;
}

.modal__grid_december2020 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "c d e h"
        "a a b b"
        "f f g g"
        "i j k k"
        "m n l .";
  grid-gap: 28px;
}

.modal__grid_september2019 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "b b f c"
        "d d e e"
        "a . . .";
  grid-gap: 28px;
}

.modal__grid_september2020 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c d"
        "e f g .";
  grid-gap: 28px;
}

.modal__grid_february2020 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c d"
        "e f g h"
        "i j k .";
  grid-gap: 28px;
}

.modal__grid_december2020_two {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c d"
        "e f g h"
        "i . . .";
  grid-gap: 28px;
}

.gridjanuary2021 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c g"
        "e e f f"
        "d d h .";
  grid-gap: 28px;
}

.modal__grid_colour_block {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c d";
  grid-gap: 28px;
}

.modal__grid_december2019 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c d"
        "e f g h";
  grid-gap: 28px;
}

.gridjanuary2020 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c d"
        "e . . .";
  grid-gap: 28px;
}

.gridoctober2020 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c d"
        "e f h h"
        "g i j k";
  grid-gap: 28px;
}

.gridtestshoot {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c d"
        "e f . .";
  grid-gap: 28px;
}

.gridoctober2019 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b c d";
  grid-gap: 28px;
}

.modal_grid_list {
  display: grid;
  grid-template-areas:
        "a b"
        "c d"
        "e e"
        "g h"
        "i j"
        "f l"
        "m n"
        "o p"
        "q r"
        "k k";
  grid-gap: 10px;
  margin: auto;
}

.december2020_list {
  display: grid;
  grid-template-areas:
        "c d"
        "e h"
        "a a"
        "b b"
        "f f"
        "g g"
        "i j"
        "k k"
        "m n"
        "l .";
  grid-gap: 10px;
  margin: auto;
}

.september2019_list {
  display: grid;
  grid-template-areas:
        "b b"
        "f c"
        "d d"
        "e e"
        "a .";
  grid-gap: 10px;
  margin: auto;
}

.september2020_list {
  display: grid;
  grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g .";
  grid-gap: 10px;
  margin: auto;
}

.february2020_list {
  display: grid;
  grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g h"
        "i j"
        "k .";
  grid-gap: 10px;
  margin: auto;
}

.december2020_two_list {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g h"
        "i .";
  grid-gap: 28px;
}

.listjanuary2021 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b"
        "c g"
        "e e"
        "f f"
        "d d"
        "h .";
  grid-gap: 28px;
}

.list_colour_block {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b"
        "c d";
  grid-gap: 28px;
}

.december2019_list {
  display: grid;
  grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g h";
  grid-gap: 10px;
  margin: auto;
}

.listjanuary2020 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b"
        "c d"
        "e .";
  grid-gap: 28px;
}

.listoctober2020 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b"
        "c d"
        "e f"
        "h h"
        "i j"
        "k g";
  grid-gap: 28px;
}

.testshoot_list {
  display: grid;
  grid-template-areas:
        "a b"
        "c d"
        "e f";
  grid-gap: 10px;
  margin: auto;
}

.listoctober2019 {
  flex-basis: 70%;
  text-align: center;
  display: grid;
  grid-template-areas:
        "a b"
        "c d";
  grid-gap: 28px;
}

.grid-item-list {
  height: 100%;
  width: 100%;
  margin: auto;
  max-height: 650px;
}

.grid-item {
  width: 100%;
  height: auto;
}

.grid-one {
  grid-area: a;
}

.grid-two {
  grid-area: b;
}

.grid-three {
  grid-area: c;
}

.grid-four {
  grid-area: d;
}

.grid-five {
  grid-area: e;
}

.grid-six {
  grid-area: f;
}

.grid-seven {
  grid-area: g;
}

.grid-eight {
  grid-area: h;
}

.grid-nine {
  grid-area: i;
}

.grid-ten {
  grid-area: j;
}

.grid-eleven {
  grid-area: k;
}

.grid-twelve {
  grid-area: l;
}

.grid-thirteen {
  grid-area: m;
}

.grid-fourteen {
  grid-area: n;
}

.grid-fiveteen {
  grid-area: o;
}

.grid-sixteen {
  grid-area: p;
}

.grid-seventeen {
  grid-area: q;
}

.grid-eighteen {
  grid-area: r;
}


@media (max-width: 420px) {
  
  .menu {
    display: block;
  }

  .tag {
    display: none;
  }

  .menu {
    height: 90px;
  }

  .wrapper {
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
  }

.inst {
  padding-left: 20px;
}

.logo img {
  width: 176px;
}

  .logo {
    padding-right: 15px;
    padding-left: 15px;
  }

  .gallery__main {
    display: block;
    padding: 20px 20px;
  }

  .portfolio {
    padding-top: 30px;
  }

  .edit, .comm {
    font-size: 13px;
    line-height: 17px;
}

.gallery__menu {
  padding-bottom: 20px;
}

  .modal__gallery_wrapper {
    display: block;
  }

  .img__block_style {
    display: flex;
  }

  .one {
    max-height: 205px !important;
    height: 100% !important;
    max-width: 166px !important;
    width: 100% !important;
  }

  .two {
    max-height: 205px !important;
    height: 100% !important;
    max-width: 156px !important;
    width: 100% !important;
  }

  .three {
    max-height: 205px !important;
    height: 100% !important;
    max-width: 317px !important;
    width: 100% !important;
  }

  .four {
    max-width: 325px !important;
    width: 100% !important;
    height: auto;
  }



  .green__back-long {
    width: 325px;
    padding: 10px;
  }

  .green__back {
    width: 325px;
    padding: 10px;
  }
  
  #editorialBlock > div.gallery__left > div:nth-child(4), #commercialBlock > div.gallery__left > div.img__block_style.green__back-long{
    display: block;
  }

  #editorialBlock > div.gallery__left > div:nth-child(4) > img.img__style.colourblock.one {
    width: 100%;
    max-width: 325px !important;
  }

  #commercialBlock > div.gallery__right > div:nth-child(1) {
    width: 100% !important;
  }

  #commercialBlock > div.gallery__left > img {
    width: 100%;
    max-width: 317px;
  }


  #commercialBlock > div.gallery__left > div.img__block_style.green__back-long > img.january2021,
  #commercialBlock > div.gallery__left > div.img__block_style.green__back-long > img.september2019 {
    width: 100%;
    max-width: 300px !important;
  }

  #commercialBlock > div.gallery__right > img.img__block_style.september2019,
  #commercialBlock > div.gallery__right > img.img__block_style.january2021,
  #commercialBlock > div.gallery__right > img.img__block_style.december2020 {
    width: 100%;
    max-width: 320px !important;
  }



}