

@media (max-width: 376px) {
  .cover {
    background-image: url('../images/main/cover_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
}

/* HEADER */

.menu {
    background-color: #EEEAE3;
    /* height: 110px; */
    /* width: 100%; */
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .wrapper_left {
    display: flex;
    align-items: center;
  }


  .container {
    display: inline-block;
    cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2px;
    }

    .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    }

    .dropdown {
    position: relative;
    display: inline-block;
}

    .dropbtn {
      border: none;
      background-color: transparent;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #EEEAE3;
      min-width: 310px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      padding: 21px 21px;
    }

  .menu_title {
    color: #172A24;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: #ddd;}

  .show {
    display: block;
  }

  .submenu {
    color: #172A24;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    word-wrap: break-word;
    padding-left: 36px;

  }

.inst {
    padding-left: 53px;
}

.logo {
   /* width: 50%; */
   text-align: center;
}

.lang {
  font-family: 'Cinzel', serif;
  font-size: 12px;
  color: #172A24;
  font-weight: bold;
  cursor: pointer;
}

.active {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
	font-size: 12px;
	color: #FFFFFF;
	text-shadow:
		-0   -1px 0   #172A24,
		 0   -1px 0   #172A24,
		-0    1px 0   #172A24,
		 0    1px 0   #172A24,
		-1px -0   0   #172A24,
		 1px -0   0   #172A24,
		-1px  0   0   #172A24,
		 1px  0   0   #172A24,
		-1px -1px 0   #172A24,
		 1px -1px 0   #172A24,
		-1px  1px 0   #172A24,
		 1px  1px 0   #172A24,
		-1px -1px 0   #172A24,
		 1px -1px 0   #172A24,
		-1px  1px 0   #172A24,
     1px  1px 0   #172A24;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #172A24;
  cursor: none;
}

/* COVER */

.cover {
    background-image: url('../images/main/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 915px; */
}

.cover__wrapper {
  text-align: center;
  margin: 0 auto;
  /* width: 100%; */
  /* max-width: 1440px; */
}

.cover__title {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 2.431vw;
    padding-top: 35.556vw;
}

.cover__subtitle {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 100px;
    /* width: 452px; */
    margin: 0 auto;
}

.cover__descr {
    font-family: 'Comfortaa', cursive;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 680px;
    margin: 0 auto;
}

.cover__btn {
    margin: 0 auto;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: lowercase;
    color: #FFFFFF;
    background: #7B0F1C;
    border-radius: 10px;
    padding: 7px 15px;
    border: none;
    box-shadow: none;
}

/* SERVICES */

.services {
    margin: 0 auto;
    /* width: 100%; */
    background-color:  #EEEAE3;
    padding-bottom: 80px;
}

.services__title {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #172A24;
    padding-bottom: 48px;
    padding-top: 80px;
}

.services__wrapper {
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 100%; */
    /* max-width: 376px; */
    margin: 0 auto;
}

  .text_one, .text_two {
    /* width: 227px; */
    /* height: 140px; */
    background-color: #172A24;
    opacity: 0.7;
    position: absolute;
    /* margin-top: 47%; */
    /* margin-left: 20%; */
  }

  .title {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 125%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-bottom: 36px;
    padding-top: 19px;
  }

  .description {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 18px;
    font-size: 14px;
    line-height: 130%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-bottom: 43px;
    word-wrap: normal;
  }

  .button {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: lowercase;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    display: flex;
    /* width: 177px; */
    justify-content: space-between;
    align-items: center;
    /* margin-left: 300px; */
    cursor: pointer;
    transition: all .4s ease-out;
    outline: none;
  }

  .button:hover {
    padding-right: 15px;
  }

  .btn__link {
    text-decoration: none;
    border: none;
  }

  /* BIO */

  .bio {
    background-image: url('../images/main/bio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 312px;
    /* width: 100%; */
    margin: 0 auto;
    padding-bottom: 50px;
    font-family: 'Comfortaa', cursive;
}

.bio__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 60px;

}

.bio__descr {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* width: 1200px; */
    margin: 0 auto;
}

/* FORM */

.form {
    background: #EEEAE3;
    /* margin: 0 auto; */
    /* height: 650px; */
}

.form__title {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #172A24;
    padding-top: 80px;
    padding-bottom: 50px;
}

.form__feed {
    /* width: 100%; */
    /* max-width: 1236px; */
    /* margin: 0 auto; */
}

.form__input {
    /* width: 100%; */
    /* max-width: 1236px; */
    /* display: flex; */
    justify-content: space-between;
    margin: 0 auto;
}

.input-item {
    /* width: 372px; */
    height: 62px;
    background-color:  #172A24;
    opacity: 0.42;
    margin-bottom: 41px;
    color: #EEEAE3;
    border: none;
    padding: 0 20px;
}

.form__input_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.form__input_right .input-item {
    height: 268px;
    resize: none;
    padding-top: 20px;
}

.options__title {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #172A24;
    padding-top: 30px;
    padding-bottom: 20px;
}

.options {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding-bottom: 17px;
}

.radio-input {
    font-family: 'Cinzel', serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: lowercase;
    color: #172A24;
    padding-left: 30px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 550px; */
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #FFF;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio:checked+label::before {
  border-color: #FFF;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
}

.form__btn {
    background: #7B0F1C;
    border-radius: 10px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: lowercase;
    color: #FFFFFF;
    border: none;
    padding: 7px 40px;
}

.form__optional {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #172A24;
}

/* INSTAGRAM */

.instagram {
    background: #172A24;
    /* height: 524px; */
    padding: 30px 30px;
}

.instagram .bio__title {
    font-family: 'Comfortaa', cursive;
}

.instagram__wrapper {
  display: flex;
}

/* FOOTER */

.footer {
    background: #355148;
    height: 70px;
}

.footer__author {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #EEEAE3;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 19px;
}
}
